<% include partials/header %>

<h1>Home Page!</h1>
<img src="https://www.iiita.ac.in/uploads/carousel/campus818901.jpg" width ="1900" height ="600">
<h1>Welcome to IIIT-ALLAHABAD</h1>



<% include partials/footer %>